/* GLOBAL STYLE */

:root{
    --c-blue: #0B57AC;
    --c-black: #111211;
    --c-dark-blue: #273145;
    --c-light-blue: #9FB5DF;
    --c-grey: #F7F7F7;
    --c-white: white;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
}

h2{
    font-size: 48px;
    font-weight: 700;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.button{
    background-color: var(--c-light-blue);
    padding: 10px 20px;
    border-radius: 35px;
    text-decoration: none;
    color: var(--c-white);
}

.heading-label{
    color: var(--c-blue);
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    margin: 0;
}

.span-blue{
    color: var(--c-blue);
}

.mb-10{
    margin-bottom: 10px;
}

/* Navbar */
nav .navbar-brand img{
    height: 50px;
}

/* Footer */
footer{
    background-image: url("../images/index/footer_bg.png");
    color: var(--c-white);
}

footer .footer-overlay{
    background-color: rgba(0, 0, 0, .5);
    padding: 50px 0 20px 0;
}

footer .items-wrapper{
    display: grid;
    grid-template-columns: 25% 25% ;
    gap: 100px;
    justify-content: center;
}


footer .footer-logo{
    height: 70px;
}

footer .rights{
    border-top: 1px solid var(--c-grey);
    text-align: center;
    padding-top: 20px;
}

footer ul{
    list-style: none;
    padding: 0;
    border-top: solid 1px var(--c-grey);
    padding-top: 10px;
}

footer ul li{
    margin-bottom: 10px;
}

footer ul li a{
    color: var(--c-white);
    text-decoration: none;
}


/* Responsive */

@media (max-width: 1199px ){
    footer .footer-overlay{
        padding: 20px 0;
    }
    footer .items-wrapper{
        grid-template-columns: 100%;
        gap: 50px;
    }
}