


#team{
    background-color: #f7f7f7;
    padding: 60px 0;
}

#team h2{
    margin-bottom: 60px;
}

#team .grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}

#team .grid .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

#team .grid .item img{
    max-width: 300px;
}

#team .grid .item h3{
    margin-top: 10px;
}

/* Responsive:
0px to 575px Small Devices (Tablets);
Breakpoint: 576px to 767px Medium Devices (Tablets and Small Laptops);
Breakpoint: 768px to 991px Large Devices (Desktops and Large Laptops);
Breakpoint: 992px to 1199px Extra Large Devices */

@media (max-width: 1199px){
    #team h2{
        font-size: 44px;
    }

    #team .grid{
        grid-template-columns: auto auto;
    }
}

@media (max-width: 767px){
    #team .grid{
        grid-template-columns: auto;
    }

    #team .grid .item img{
        max-width: 100%;
    }
}